<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./styles/main.css">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <div id="app">
      <header class="header">
        <h1 class="header__title">Empty Tree Database - NYC</h1>
      </header>
      <main class="main">
        <section class="controls">
          <h2 class="controls__title">Submit a tree bed location</h2>
          <form class="form">
            <fieldset class="form__group">
              <legend class="form__input-title">latitude</legend>
              <input type="text" name="latitude" class="form__input form__input--text">
            </fieldset>
            <fieldset class="form__group">
              <legend class="form__input-title">longitude</legend>
              <input type="text" name="longitude" class="form__input form__input--text">  
            </fieldset>
            <fieldset class="form__group">
              <legend class="form__input-title">status</legend>
              <select name="empty">
                <option value="true" selected>Empty</option>
                <option value="false">Not Empty</option>
              </select>
            </fieldset>
            <input type="submit" value="submit">
          </form>
        </section>
        <section class="locations">
          <h2 class="locations__title">Current Submissions</h2>
          <ul class="locations__list"></ul>
        </section>
      </main>
      <footer class="footer"></footer>
    </div>
    <script src="./js/main.js"></script>
  </body>
</html>